body {
  position: relative;
  margin: 0;
  padding: 0 50px;
  font-family: "Century Gothic", sans-serif;
  background: url(../img/sea-back.jpg) 0px 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

#aquarium {
  position: relative;
  height: 100vh;
}

.fish {
  position: absolute;
  cursor: pointer;
  transition: 5s;
  transition-timing-function: ease;
  animation: levitate 2s infinite ease-in-out;
}

.fish:hover {
  transition: 0.1s;
  transform: scale(1.2)
}

#counter {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}

@keyframes levitate {
  0% {
    padding-top: 8px;
  }

  50% {
    padding-top: 0px;
  }

  100% {
    padding-top: 8px;
  }
}
